html{
    margin-left: 5%;
    margin-right: 5%;
}


/******************************          CLASSES  ********************/

.bodyContainer{
    margin-bottom: 75px;
}

.pull-left{
    margin-left: 8px;
}
.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.navbar-nav > li>  a{
    padding-top: 0px;
}

footer > .container{
    font-size: .8vw;
}

.blogPost{
    width: 25%;
    height: 300px;
    margin-left: 10px;
    display: inline-block;
}

.hideForm{
    display: none;
}
/*********          IDS       ****************/

#aboutMePic{
    height: 500px;
    width: 60%;
}
#homeDianePic{
    height: 500px;
    width: 500px;
}
#navbar_white{
    background-color: white;
}
#navbarTitle{
    font-family: 'Sacramento', cursive;
    font-size: 100px;
}
#navbar_hr{
    border-top: solid black 2px;
    margin: 20px 0 0 0;
}
#homeDescription{
    font-family: Baskerville Old Face;
    font-weight: 500;
    font-size: 50px;
    height: 500px;
    line-height: 50px;
}
#homeDescription > :first-child{
    margin-top: 45%;
}
#homeDescription > div {
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
}
