<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('Create Blog')"> </head>
<body>

<div th:replace="partials/navbar :: navbar"></div>
<div class="container">

    <div class="row">
        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
           <div class="row">
                <div class="col-md-8">
                    Title:
                    <input class="formField" type="text" th:field="*{title}" autofocus="autofocus"/>
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" /> <br />
                    Body:
                    <textarea class="formField" rows="10" th:field="*{body}"></textarea>
                    <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" /><br />
                    <input type="hidden" th:field="*{id}"/>
                </div>
                <div class="col-md-4">
                    Categories:
                    <br/>
                    <select id="categoryBox" th:field="*{categories}" multiple="multiple">
                        <option value="short_story">Short Story</option>
                        <option value="personal_narrative">Personal Narrative</option>
                        <option value="book_club">Book Club</option>
                        <option value="cat1">cat1</option>
                        <option value="cat2">cat2</option>
                        <option value="cat3">cat3</option>
                        <option value="cat4">cat4</option>
                        <option value="cat5">cat5</option>
                    </select>
                </div>
           </div>
            <div class="col-md-8">
                <input class="formField btn btn-primary" type="submit" />
            </div>
        </form>
    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/scripts :: script"></div>
</body>
</html>