<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Home Page')"> </head>
<body>


<div th:if="${editPost}">
    <form th:action="@{/posts/edit}" th:method="post" th:object="${editPost}">
        Title:
        <input type="text" th:field="*{title}" th:value="${editPost.getTitle()}"/> <br />
        Body:
        <input type="text" th:field="*{body}" th:value="${editPost.getBody()}"/> <br />
        <input type="hidden" th:field="*{id}" th:value="${editPost.getId()}"/>
        <input type="submit" />
    </form>
    <form action="/posts/delete" th:method="post" th:object="${editPost}">
        <input type="hidden" th:field="*{id}" />
        <input type="submit" th:value="delete"/>
    </form>
</div>

<div th:if="!${editPost}">
<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    Title:
    <input type="text" th:field="*{title}"/> <br />
    Body:
    <input type="text" th:field="*{body}"/> <br />
    Category:
    <select th:field="*{type}">
        <option value="short_story">Short Story</option>
        <option value="personal_narrative">Personal Narrative</option>
        <option value="book_club">Book Club</option>
    </select>
    <input type="submit" />
</form>
</div>
</body>
</html>