<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Master')"> </head>
<body>

<!--  ##################      Basic Blog look   ###########################    -->
<div class="blogPost" th:each="post: ${posts}" th:fragment="blogLayout">
    <h2 th:text="${post.getTitle()}"></h2>
    <p th:text="${post.getBody()}"></p>
    <p th:text="${post.type}"></p>
    <p class="dateP hideForm" th:text="${post.getCreated_on()}"></p>
    <p class="showDate">test</p>
</div>

</body>
</html>