<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: header"> </head>
<body>
<div class="container-fluid" th:fragment="navbar">
    <h1 class="text-center  ">diane lizette</h1>
    <hr id="navbar_hr"/>
    <ul class="nav navbar-nav">
        <li role="presentation"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Short Stories</a></li>
        <li role="presentation"><a href="#">Personal Narratives</a></li>
        <li role="presentation"><a href="#">Book Club</a></li>
    </ul>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>