<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: header"> </head>
<body>
<div class="container-fluid" th:fragment="navbar">
    <h1 id="navbarTitle" class="text-center">Diane Lizette</h1>
    <hr id="navbar_hr"/>
    <ul class="nav navbar-nav">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/aboutme">About</a></li>
        <li role="presentation"><a href="/shortstories">Short Stories</a></li>
        <li role="presentation"><a href="/personalnarrative">Personal Narratives</a></li>
        <li role="presentation"><a href="/bookclub">Book Club</a></li>
        <li sec:authorize="isAuthenticated()" th:if="${#authentication.principal.email =='zarcodiane@gmail.com'}"><a href="/posts/create">Create Post</a></li>
        <!--<li sec:authorize="isAuthenticated()" th:text="${#authentication.principal.email}"></li>-->
        <li role="presentation"><a href="#" class="login">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a href="#" class="logout-link">Logout</a>
            <form class="logout-form" th:action="@{/logout}" th:method="post"></form>
        </li>
        <li role="presentation" sec:authorize="isAuthenticated()">welcome <span th:text="${#authentication.principal.username}"/></li>
    </ul>



<!--########################          MODAL         ##############################  -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Login Here <input type="button" class="registerButton pull-right" value="Register"/></h4>
            </div>
            <div class="modal-body">
                <form id="loginForm" th:action="@{/user/login}" th:method="post">
                    Username:
                    <input type="text" name="username" placeholder="enter Username" autofocus="autofocus"/> <br/>
                    Password:
                    <input type="password" name="password" placeholder="enter password"/> <br/>
                    <input type="submit" th:value="Submit"/>
                </form>
                <form id="registerForm" class="hideForm" th:action="@{/user/create}" th:method="post">
                    FirstName:
                    <input type="text" name="firstName" placeholder="enter First Name"/> <br/>
                    LastName:
                    <input type="text" name="lastName" placeholder="enter Last Name"/> <br/>
                    UserName:
                    <input type="text" name="userName" placeholder="enter UserName"/> <br/>
                    Email:
                    <input type="text" name="email" placeholder="enter email"/> <br/>
                    Password:
                    <input type="password" name="password" placeholder="enter password"/> <br/>
                    <input type="submit" th:value="Submit"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</div>
</div>



</body>
</html>