<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('About Me')"> </head>


<body>

<div class="container bodyContainer">
        <div th:replace="partials/navbar :: navbar"></div>
    <div class="row">
        <div class="col-md-12">
            <h1>About me</h1>
            <div>
                <img id="aboutMePic" class="center-block" src="pics/aboutme.jpg" alt="dianePic"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">

        </div>
        <div class="col-md-3">
            <h2>Categories</h2>
            <ul>
                <li th:each="category : ${categories}" th:text="${category.name}" />
            </ul>
        </div>
    </div>
    <footer th:replace="partials/footer :: footer"></footer>
</div>
<div th:replace="partials/scripts :: script"></div>
</body>
</html>